@CHARSET "UTF-8";
/* Welcome to quick-mail.css 1.1.5 */
#qm-validate {
	display: none;
}

#qm_error {
	color: #c33;
	font: 14px bold Georgia,serif;
	text-align: center;
}

.quick-mail-title {
	font: 24px/32px normal Georgia,serif;
}

.quick-mail-title:before {
	content: "\f119";
	display: inline-block;
	font: normal 30px/1 'dashicons';
	vertical-align: top;
}

table#quick-mail {
	background-color: transparent;
	margin: 2em;
	width: 80%;
}

h2, td {
	color: #000;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

td:nth-of-type(2) {
	color: #c33;
}

td.quick-mail {
	font: 14px bold Georgia,serif;
	text-align: right;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

td.quick-mail-message {
	font: 14px bold Georgia,serif;
	text-align: right;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	vertical-align: top;
}

th.recipients {
	font: 18px/14px bold Georgia,serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	vertical-align: top;
}

input[type="submit"] {
	border-radius: 10%;
	font-weight:bold;
	padding: 1em;
}

option {
	background-color: #fff;
	color: #000;
}

option:first-child {
	font-weight: bold;
	text-align: center;
}

optgroup {
	background-color: #eee;
	color: #000;
	font-family: Georgia, serif;
}
